html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 80px;
  color: darkslategrey;
  text-align: center;
}

img {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

@media screen and (max-width: 767px) {
  img {
    width: 30%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  img {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  img {
    width: 30%;
  }
}
